<html lang="en">
<head>
<title>rank</title>
<meta charset="utf-8">
<link rel="stylesheet"  href="css/stylesForRank.css">
<script type="text/javascript" src="js/rank.js"></script>


</head>

<body>



<div style="overflow:auto">
  <div class="dropdown_list">
    
    <input type = "checkbox" id = "korean" onclick="tf(korean)" > 韓式
    <input type = "checkbox" id = "japan" > 日式
    <input type = "checkbox" id = "taiwan" > 中式
    <input type = "checkbox" id = "american" > 美式

    <button id = "enter" onclick="select()">確認</button>

  </div>
    <div class="main">
    

    <ul style ="list-style-type: none ">
      <li><a href="index.html""><img src="img/buffet.jpg" width="100px" height="100px">響食天堂</a></li>
      <li><a href="index.html""><img src="img/buffet.jpg" width="100px" height="100px">響食天堂</a></li>
      <li><a href="index.html""><img src="img/buffet.jpg" width="100px" height="100px">響食天堂</a></li>
      <li><a href="index.html""><img src="img/buffet.jpg" width="100px" height="100px">響食天堂</a></li>
      <li><a href="index.html""><img src="img/buffet.jpg" width="100px" height="100px">響食天堂</a></li>
      <li><a href="index.html""><img src="img/buffet.jpg" width="100px" height="100px">響食天堂</a></li>
      <li><a href="index.html""><img src="img/buffet.jpg" width="100px" height="100px">響食天堂</a></li>
    </ul>

  </div>
</div>
</body>
</html>